<%= provide :title, "Edit profile" %>

<h1 class="mb-4">Edit profile</h1>

<%= render "devise/shared/error_messages", resource: resource %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
             html: { method: :put }) do |f| %>
  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :email %>
    </div>

    <div class="col-sm-10">
      <%= f.email_field :email, autofocus: true, autocomplete: "email",
                        class: "form-control form-control lg" %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :password %>
    </div>

    <div class="col-sm-10">
      <%= f.password_field :password, autocomplete: "new-password",
                           placeholder: "enter new password if you want",
                           class: "form-control form-control lg" %>
    </div>

    <%# if @minimum_password_length %>
    <!--      <br/>-->
    <!--      <em><%#= @minimum_password_length %> characters minimum</em>-->
    <%# end %>

  </div>

  <div class="mb-5 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :password_confirmation %>
    </div>

    <div class="col-sm-10">
      <%= f.password_field :password_confirmation, autocomplete: "new-password",
                           class: "form-control form-control lg" %>
    </div>
  </div>

  <div class="mb-4 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :current_password %>
    </div>

    <div class="col-sm-10">
      <%= f.password_field :current_password, autocomplete: "current-password",
                           class: "form-control form-control lg" %>
      <i>enter your current password to confirm your changes</i>
    </div>
  </div>

  <div class="mb-5">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>

<h3>Delete my account</h3>
<p>You can delete your account
  <%= button_to "Delete my account", registration_path(resource_name),
                method: :delete,
                onclick: "return confirm('Are you sure?')",
                class: "btn btn-danger" %>
</p>